{% extends "base-layout.html" %}

{% block title %}Lista wyników{% endblock %}

{% block layout_head %}
<style type="text/css">
    .str { font-weight: bold; }
    .answers { margin-left: 30px; margin-bottom: 10px; }
    .footnote { font-size: 0.8em; }
    .sepa { margin-top: 20px; }
    .green { color: green; font-weight: bold; }
    .red { color: red; font-weight: bold; }
    th { font-weight: bold; padding-left: 10px; }
    td { padding: 5px 5px 5px 5px; }
    td.c { text-align: center; }
    h1 { margin-top: 5px; }
</style>
{% endblock %}

{% block layout_entries %}
    {% if request.user.is_demo %}
        <li><a href="/">Główna</a></li>
    {% else %}
        <li><a href="/profile/">Profil</a></li>
    {% endif %}
    <li><a href="/test/">Egzamin</a></li>
    <li class="current"><a href="/past/">Wyniki</a></li>
    <li><a href="/groups/">Grupy</a></li>
{% endblock %}

{% block layout_content %}
<a href="/past/">Wróć do listy wyników</a>

    <h1>Protokół zdawania nr {{ testresult.id }}</h1>
    <p>
        Zdający: <span class="str">{{ testresult.written_by.name }} {{ testresult.written_by.surname }} (nr {{ testresult.written_by.number }})</span><br>
        
        {% if testresult.is_killed %}
        <span class="str">Egzamin został anulowany przez prowadzącego podczas pisania</span><br>
        {% else %}
        
        Egzamin rozpoczęto <span class="str">{{ protocol.test_start_on }}</span> zakończono <span class="str">{{ protocol.test_end_on }}</span><br>
        Uzyskano <span class="str">{{ protocol.score }}</span> punktów z <span class="str">{{ protocol.max_score }}</span> możliwych (<span class="str">{{ percentage }}%</span> poprawnych).<br>
        
        {% endif %}
        
        Zdawano test <span class="str">{{ exam.test.name }}</span>.<br>
        Uzyskano ocenę <span class="str">{{ testresult.grade }}</span>.<br>
    </p>
    
    <hr>
    <h1>Zasady rozliczenia:</h1>
    <p>
        dostateczny (3): od <span class="str">{{ exam.test.g3_starts_at }}%</span> do <span class="str">{{ exam.test.g35_starts_at }}%</span><br>
        dostateczny + (3,5): od <span class="str">{{ exam.test.g35_starts_at }}%</span> do <span class="str">{{ exam.test.g4_starts_at }}%</span><br>
        dobry (4): od <span class="str">{{ exam.test.g4_starts_at }}%</span> do <span class="str">{{ exam.test.g45_starts_at }}%</span><br>
        dobry + (4,5): od <span class="str">{{ exam.test.g45_starts_at }}%</span> do <span class="str">{{ exam.test.g5_starts_at }}%</span><br>
        bardzo dobry (5): od <span class="str">{{ exam.test.g5_starts_at }}%</span> do <span class="str">100%</span><br>
        
    </p>
    
    <hr>
    {% if exam.test.can_review_mistakes %}
    <h1>Pytania i udzielone odpowiedzi:</h1>
    <div class="sepa">
        {% for questiontext, points, answers, pts_gained, question_id, attachment_url in protocol.questions %}
        <span class="str {% if pts_gained > 0 %}green{% else %}red{% endif %}">{{ questiontext }}</span><br>
        <span class="footnote">{{ points }} punktów do zdobycia. Zdobyto <span class="{% if pts_gained > 0 %}green{% else %}red{% endif %}">{{ pts_gained }}</span> punktów.</span><br>
        {% if attachment_url %}
        Załącznik:<br>
        <img src="{{ attachment_url }}" style="width: 400px;"><br>
        {% endif %}
        <table class="answers">
            <tr><th>Odpowiedź</th><th>Zaznaczyłeś</th><th>Ma być</th></tr>
            {% for studanswer, realanswer, text, answer_id in answers %}
                <tr>
                    <td>{{ text }}</td>
                    <td class="c">{% if studanswer %}<span class="green">✔</span>{% else %}<span class="red">✘</span>{% endif %}</td>
                    <td class="c">{% if realanswer %}<span class="green">✔</span>{% else %}<span class="red">✘</span>{% endif %}</td>
                </tr>
            {% endfor %}            
        </table>
        {% endfor %}
    </div>    
    {% endif %}
</div>
{% endblock %}
